<h3>
  <%= link_to "New photo", new_photo_path %>
  <%= link_to "My photos" %>
  <%= link_to "Tags", tags_path %>
</h3>

<% @photos.each do |photo| %>
  <p>
    <%= link_to photo.title, photo_path(photo) %>
    <%= image_tag photo.photo_url %>
    <%= photo.score %>
  </p>
<% end %>
