<p>
  <%= @photo.title %>
</p>
  <div class="photo">
  <%= image_tag @photo.photo_url %>
  </div>
<p>
  <%= link_to "Upvote", photo_upvote_path(@photo), :method => :put %>
  <%= @photo.score %>
  <%= link_to "Downvote", photo_downvote_path(@photo), :method => :put %>
</p>

<p>
  <% @categories.each do |category| %>
  <%= link_to category.tag.tag_name, tag_path(category.tag) %>
  <% end %>
</p>

<p>
  <%= form_tag (photo_add_tag_path(@photo)) do %>

  <%= label_tag 'tag_name' %>
  <%= text_area_tag 'tag_name' %>

  <%= submit_tag%>

  <% end %>
</p>

<p>
<%= form_for @photo, method: :delete do |f| %>
  <%= f.submit "Remove Photo", class: "delete" %>
  <% end %>
</p>

<% @comments.each do |comment| %>
  <ul>
    <%= link_to comment.id, photo_comment_path(@photo, comment) %>
    <%= comment.user.username %> wrote:
    <%=comment.content %>
  </ul>

<% end %>

<%= render partial: "comments/comment_form" %>
