<p>
  My Photos -- All Photos
</p>

<p>
  <%= @photo.title %>
</p>
  <div class="photo">
  <%= image_tag @photo.photo_url %>
  </div>
<p>
  upvotes - score - downvotes
</p>

<p>
  <%= link_to "Add Tag", new_tag_path %>
</p>
<%= form_for @photo, method: :delete do |f| %>
  <%= f.submit "Remove Photo", class: "delete" %>
  <% end %>

<p>
  <%= link_to "Add Comment", new_photo_comment_path(@photo) %>
</p>
