<div class="show_container">
  <h2 class="photo_title">
    <%= @photo.title %>
  </h2>

  <div class="photo">
    <%= image_tag @photo.photo_url %>
  </div>

  <div class="score">
    <%= link_to( image_tag("up.png"), photo_upvote_path(@photo), :method => :put ) %>
    <%= @photo.score %>
    <%= link_to( image_tag("down.png"), photo_downvote_path(@photo), :method => :put ) %>
  </div>

  <div class="tags">
    <% @categories.each do |category| %>
    <%= link_to category.tag.tag_name, tag_path(category.tag) %>
    <% end %>
  </div>

  <div class="add_tag">
    <%= form_tag (photo_add_tag_path(@photo)) do %>

      <%= label_tag 'New_Tag_Name' %>
      <%= text_area_tag 'tag_name' %>

      <%= submit_tag%>

    <% end %>
  </div>


  <div class="comments">
    <% @comments.each do |comment| %>
      <ul>
        <%= link_to comment.id, photo_comment_path(@photo, comment) %>
        <%= comment.user.username %> wrote:
        <%=comment.content %>
      </ul>
    <% end %>
  </div>

  <div class="add_comment">
    <%= render partial: "comments/comment_form" %>
  </div>

  <div class="remove_photo">
    <%= form_for @photo, method: :delete do |f| %>
      <%= f.submit "Remove Photo", class: "delete" %>
    <% end %>
  </div>
</div>
