<!DOCTYPE html>
<html>
<head>
  <title>Rate My Style</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <h1>Rate My Style </h1>
    <h2>The #1 Place on The Internet to Find Styles That People Actually Like</h2>
    <nav>
      <ul>
        <% if session[:user] %>
          <li><a href="/sign_out"><%= session[:user]["username"] %>: Sign out</a></li>
          <li><a href="/photos">All Photos</a></li>
          <li><a href="/my_photos">My Photos</a></li>
          <li><a href="/photos/new">Post New Photo</a></li>
          <li><a href="/tags">Browse Tags</a></li>
        <% else %>
          <li><a href="/sign_up">Sign up</a></li>
          <li><a href="/sign_in">Sign in</a></li>
          <li><a href="/">Home</a></li>
        <% end %>
      </ul>
    </nav>

  </header>
  <h2><%= flash[:notice] %></h2>
<%= yield %>

</body>
</html>
